PUBLIC_NAME=Your-Name
PUBLIC_DISPLAY_NAME=your-username
PUBLIC_GITHUB_URL=https://github.com/your-username
PUBLIC_GITHUB_USERNAME=@your-username
PUBLIC_EMAIL=you@example.com
PUBLIC_LINKEDIN_URL=https://linkedin.com/in/your-profile
PUBLIC_LINKEDIN_USERNAME=/in/your-profile
PUBLIC_TWITTER_URL=https://x.com/your-handle
PUBLIC_TWITTER_USERNAME=@your-handle
PUBLIC_DISCORD_URL=https://discord.com
PUBLIC_DISCORD_USERNAME=@your-username
